.App {
    height: 100vh;
    display: flex;  
    justify-content: center;
}

.content {
    height: 80vh;
    width: 70%;
}

.map-div{
    height: 100%;
}

@media only screen and (max-width: 600px){
    .content{width: 90%;}
}

.toggle-div {
    position: relative;
    margin-bottom: 15px; 
}

button {
    width: 10rem;
    height: 2.5rem;
    background-color: transparent;
    border: 1px solid rgba(221, 221, 221, 0.419);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.781);
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.06);
}

.loading-div {
    display: flex;
    justify-content: center;
    height: 100%;
    border: 1px solid rgba(221, 221, 221, 0.219);
    backdrop-filter: blur(12px);
}