.App {
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 90vh;
    width: 100vw;
}

.map-component {
    order: 1;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.list-component {
    order: 2;
    height: 95vh;
    border-left: 1px solid rgba(255, 255, 255, 0.187);
}

@media only screen and (max-width: 600px) {
    .content{ 
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .map-component{ order: 2; }
    .list-component{ 
        order: 1;
        height: auto;
        border-left: 0px;
    }
}