.App {
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 90vh;
    width: 100vw;
}

.map-component {
    order: 1;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.list-component {
    order: 2;
    height: 100vh;
    border-left: 1px solid rgba(255, 255, 255, 0.187);
}

@media only screen and (max-width: 600px) {
    .content{ grid-template-columns: 100% }
    .map-component{ order: 2; }
    .list-component{ 
        order: 1;
        height: 30vh;
        border-left: 0px;
    }
}