html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.781);
 
  background: #141e30;
  background: -webkit-linear-gradient(to right, #141e30, #1c2d41); 
  background: linear-gradient(to right, #141e30, #1c2e42); 
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
}
h2 {
  text-align: center;
  justify-content: center;
  font-size: 1.4em;
  font-weight: 200;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

h4 {
  font-size: 0.7rem;
  font-weight: 300;
  white-space: nowrap;
}

h5 {
  font-size: 1.4em;
  font-weight: 200;
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
}

p{
  font-size: 1.1rem;
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 6px;
  height: 0.3vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(16, 29, 44, 0.573);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.105);
  border-radius: 15px;
  height: 30%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.228);
}

.scroll-color-auto {
  scrollbar-color: auto;
}


 @media only screen and (max-width: 600px) {html { font-size: 3vw; }}

 @media only screen and (min-width: 600px) { html { font-size: 1.5vw; } }
 
 @media only screen and (min-width: 800px) { html { font-size: 1vw; } }
 

 .loader {
  border: 2px solid #ffffff0a;
  border-top: 2px solid rgba(0, 0, 0, 0.057);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}} 
