.map-container {
  position: relative;
  border: 1.5px solid rgba(255, 255, 255, 0.187);
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.01);
}

.dot {
  position: absolute;
  left: var(--posX);
  top: var(--posY);
  height: 5px;
  width: 5px;
  background-color: var(--dotColor);
  border: 2px solid rgba(255, 255, 255, 0.516);
  border-radius: 50%;
}

#circle {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: 40%;
  border-radius: 100%;
  border: 1.5px solid rgba(244, 52, 52, 0.769);
  background: rgba(244, 52, 52, 0.04);
}

#circle-title{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.781);
  font-weight: 200;
  font-size: 1em;
}

@media only screen and (max-width: 600px){
  .map-container { width: 90%; }
}