.violators {
  height: 100%;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0.696);
  font-weight: 100;
  float: right;
  overflow-y:scroll;
  overflow-x: hidden;
}

li {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.187);
}

li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}


/* Mobile */
@media only screen and (max-width: 600px){
  ul{ 
    white-space: nowrap;
    overflow-x: scroll;  
    overflow-y: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.187);
    height: auto;
  } 
  
  li {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.187);
  }
}

